Diagnostics:
  ClangTidy:
    Add:
      - cppcoreguidelines-*
      - bugprone-*
      - performance-*
      - modernize-*
      - readability-*
      - clang-analyzer-*
    Remove:
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - modernize-use-trailing-return-type
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-owning-memory
      - readability-identifier-naming*

  UnusedIncludes: Strict
  MissingIncludes: Strict

CompileFlags:
  CompilationDatabase: build

Index:
  StandardLibrary: Yes
  Threads: 0

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes